/*Navigating CSS for this website follows a pattern similar to 
that found on the html page:
    1.Navigation
    2.Banner
    3.Row 1 
    4.Row 2

Use !# followed with the number to locate the sections*/

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875em;
    display: flex;
    flex-direction: column;
}

/*!#1*/
#navigation {
    background-color: #ffffff;
    height: 55px;
    box-shadow: 0px 7px 27.3px 7.7px rgba(0, 0, 0, 0.25); 
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#logo {
    width: 175px;
    height: 70px;
    margin: -4px auto 0 5px;
}

#nav_links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start; 
    position: absolute;
    z-index: 1;
    top: 1.84em;
    right: 0;
    background: rgba(243, 243, 243, 0.7);
    width: 100%;
    overflow: hidden;
}

#nav_links li {
    width: 98.9%;
    transition: .2s border-right;
}

#nav_links p {
    margin: 0;
}

#nav_links a{
    text-decoration: none;
    color: black;
    padding: 20px 0px 20px 10px;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 0.75em;
    flex-grow: 1;
    margin: 0;
    width: 100%;
    display: inline-block;
}

#active {
    color:grey;
}

#menu {
    display: flex;
    flex-direction: column;
    margin: 7px 12px 0 0;
}

.rectangle {
    height: 6px;
    width: 40px;
    background: #7fa3e1;
    margin-top: 6px;
}

.darkBlue {
    background-color: #5275b2;
}

footer {
    height: 100px;
    background: #f3f3f3;
    margin-top: 2em;
}
/*Pseudo Elements/Classes*/
/*!#1*/
#menu:hover {
    cursor: pointer;
}

#nav_links li:hover {
    border-right: #6a90d2 solid 4px;
}

#nav_links a:active {
    color: grey;
}

@media (min-width: 470px) {
    /*!#1*/
    #nav_links {
        width: 50%;
    } 
}

@media (min-width: 700px) {

    /*!#1*/
    #nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: initial;
        background: none;
        height: auto;
        width: auto;
    }

    #nav_links li {
        height: 45px;
        width: 70px;
        margin: 7px 15px;
        text-align: center;
        transition: .2s border-bottom;
    }

    #nav_links a {
        padding: 0;
    }

    #menu {
        display: none;
    }
}
